.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
    text-align: justify;
}

.header {
    display: grid;
    grid-template: 1fr 1fr/ 1.5fr 1fr;
    background-color: #ffffff;
    grid-column: 2;
}

.sidebar {
    display: grid;
    background-color: #1892d3;
    grid-row: 1 /span 2;
    grid-template-rows: 1fr 4fr 5fr;
    color: white;
    font-weight: bold;
}

.article-main {
    background-color: #e1e8f0;
    display: grid;
    grid-template:1fr/ 4fr 1fr;
}

.article {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    text-align: center;
    padding: 10px;
    border-color: blue;
    border: 4px;
}
.card {
    border: 10px solid #e1e8f0;
    border-left-color: #eeb526;
    background-color: #ffffff;
    border-radius: 10px;
}

.article-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* border: 10px solid #e1e8f0; */
}

.announcement, .trending {
    display: grid;
    border: 10px solid #e1e8f0;
    background-color: #ffffff;
}

.announcement {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

img {
    max-width: 20%;
    height: auto;
    color: white;
    fill: #ffffff;
    border-color: white;
    stroke: white;

}

 
.menu{
    display: grid;
    grid-row: 2 /span 2;
}

.menu-top{
    display: grid;
    grid-template-rows: repeat(6, .15fr);
    grid-row: 2 / span 1;
    padding-top: 40px;
}

.menu-middle {
    display: grid;
    grid-template-rows: repeat(3, .1fr);
    grid-row: 3/ span 1;

}

.mini {
    max-width: 7%;
    height: auto;
    color: white;
}

.search {
    height: 20px;
    border-radius: 10px;
    background-color: #e1e8f0;
    border-color: #e1e8f0;
}

.q-1{
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap:10px;

}

.q-2{
    display:flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.header-mini {
    max-width: 20px;
    max-height: 20px;
}

.q-3{
    display: grid;
    grid-template-columns: 1fr 4fr;;
}

.header-large{
    justify-self: center;
    align-items: center;
    max-width: 40px;
    max-height: auto;;

}

.salutation {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 10px;
    font-weight: bold;
}

.profile-tag{
    font-size: 20px;
    font-weight: bold;
}